a {
    text-decoration: none;
    color: white;
    cursor: default;
}

.page_body {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0 auto;
    background-color: black;
    color: white;
}

.main_header {
    max-width: 1480px;
    margin: 0 auto 10px;
}

.header_filter {
    display: flex;
    justify-content: space-between;
}

.main_filter {
    width: 70%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.filter_item {
    margin-right: 30px;
}

.select_menu {
    width: 150px;
    height: 27px;
    font-size: 17px;
    font-family: inherit;
    font-weight: 700;
    border-radius: 0;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

.search_field {
    position: relative;
}

.searching {
    width: 200px;
    height: 25px;
    font-family: inherit;
    font-weight: 700;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 0;
}

.icon_search {
    position: absolute;
    top: 5px;
    right: 7px;
    opacity: 0.5;
}

.searching:hover +.icon_search {
    opacity: 1;
}

.searching:focus + .icon_search {
    opacity: 0;
}

.main_body {
    margin: 0 auto;
    max-width: 1480px;
}

.movie_list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movie_list img {
    display: block;
}

.movie_list_item {
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 160px;
}

.movie_list_item:nth-child(9n) {
    margin-right: 0;
}

.movie_title_background {
    position: absolute;
    width: 160px;
    height: 40px;
    display: block;
    background-color: rgba(255,255,255,1);
    bottom: 0;
    left: 0;
}

.movie_title {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 160px;
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.movie_list_item:hover .movie_title_background {
    background-color: black;
}

.movie_list_item:hover .movie_title {
    color: white;
}

.movie_shadow:before {
    content: '';
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.movie {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 100px auto;
    font: inherit;
    font-weight: normal;
    line-height: 22px;
    width: 720px;
    height: 780px;
    background-color: #252526;
    border-radius: 5px;
}

.movie_wallpaper {
    border-radius: 5px 5px 0 0;
}

.main_movie_title {
    position: relative;
    margin: 20px 20px;
    font-size: 30px;
    font-weight: 700;
}

.main_movie_title_year {
    position: absolute;
    color: gray;
    font-size: 14px;
    right: 0;
    bottom: 0;
}

.movie_description {
    display: block;
    padding: 0 20px;
    margin: 0 15px;
    font-size: 18px;
}

.movie_information {
    margin: 10px 20px 0;
}

.title_movie_information {
    font-size: 18px;
    font-weight: 700;
    color: gray;
}

.movie_information_item {
    font-size: 17px;
}

.movie_information_item:after {
    content: ", ";
}

.movie_information_item:last-child:after {
    content: "";
}

.movie_close {
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: black;
    border-radius: 4px;
    border: 0;
    top: 6px;
    right: 6px;
    z-index: 10;
}

.movie_button_close {
    position: absolute;
    top: 0;
    right: 1px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.movie_button_close:before,
.movie_button_close:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 21px;
    height: 3px;
    border-radius: 1px;
    background-color: white;
    z-index: 20;
}

.movie_button_close:before {
    transform: rotate(45deg);
}

.movie_button_close:after {
    transform: rotate(-45deg);
}

.movie_show {
    display: block;
    animation-name: appearance;
    animation-duration: 0.4s;
}

.movie_close_animation {
    display: block;
    animation-name: close;
    animation-duration: 0.4s;
}

@keyframes appearance {
    0% {
        transform: translateY(-500px);
    }
    60% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes close {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(-1500px);
    }
}